body {
    background-color: navajowhite;
}

h1 {
    text-align: center;
    background-color: red;
    color: navajowhite;
}

ul {
    text-align: center;
    background-color: red;
}

li {
    display: inline-block;
}

img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}